server:
  port: 3344

spring:
  application:
    name: cloud-config-center
  cloud:
    config:
      server:
        git:
#          uri: git@github.com:lubin1127/spring-cloud-config.git
          uri: https://github.com/lubin1127/spring-cloud-config.git
          search-paths:
            - spring-cloud-config
          username: 105910685@qq.com
          password: Lb19931127
          timeout: 30
          skip-ssl-validation: true
      label: master
  rabbitmq:
    host: 192.168.32.129
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka


management:
  endpoints:
    web:
      exposure:
        include: "bus-refresh"